<!-- <video style="    width: 100%;
height: 40%;" controls>
    <source src="https://www.playbox99.com/app/API/videos/romantic/2277827382113271436.mp4" type="video/mp4">
  </video> -->
<div>
  <video style="    width: 100%;
height: 55%;" src="{{url}}" controls playsinline uk-video>
  </video>

  <ion-row style="margin:10px">
    <ion-col>
      <ion-button expand="full" shape="round" style="height: 40px;
      font-family: raleway;"> 
        <ion-icon name="cloud-download" style="margin-right: 10px;"></ion-icon>
        Download
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button  color="success" expand="full" shape="round" style="height: 40px;
      font-family: raleway;"> 
        <ion-icon name="share"  style="margin-right: 10px;"></ion-icon>
        Share
      </ion-button>
    </ion-col>
  </ion-row>
</div>