<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Category
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    
    <ion-grid>
      <ion-row class="category_row" *ngFor="let row of cat_row">
        <ion-col style="margin: -15px;"  *ngFor="let cat of loop;let i = index">
          <div class="container">
         <ion-card style="margin: 20px;" (click)="CategoryClick(MainCategoryData[row+i].name)">
        <img src="{{MainCategoryData[row+i].image}}" style="     height: 105px;
        width: 100%;   ">
          <div class="centered">{{MainCategoryData[row+i].name}}</div>
         </ion-card>
        </div>
        </ion-col >
        
      </ion-row>
      
      </ion-grid>
  </div>
</ion-content>
