<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <div class="card"  > 
  <ion-card style="height: 116px; width: 100%;
     background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/back-to-school-diy-1532979234.jpg?crop=1.00xw:1.00xh;0,0&resize=480:*);
  background-size: cover;text-align: center;" >
  <div style="font-size: 30px;
  font-family: ballobhai;
  color: white;background: #52545494;
  padding-top: 35px;
  padding-bottom: 35px;">Art & Craft</div>
  
  </ion-card>
</div> -->
<ion-content [fullscreen]="true">
  <app-category></app-category>
<div style="    font-family: fat;
font-size: 25px;
margin-top: 10px;">
    <ion-label style="margin-left: 17px;">Popular</ion-label>


  <ion-list *ngFor="let item of randomVideosList">
    <ion-item style="margin-top:-20px" >
      <div (click)="playVideo(item.url)">
      <ion-row>
        <ion-col size="5">
          
          <ion-card style="margin-left: 0px;">
            <!-- <div class="parent">
            <img src="https://assets.thehansindia.com/h-upload/2020/01/20/255530-shikara.jpg">
            <span class="uk-badge"></span>
          </div> -->
          <div >
              <div class="item">
                <a href="#">
                    <img src="{{item.image}}"  alt="" style="    height: 100px;
                    width: 251px;    object-fit: none;
    object-position: center;"/>
              </a>
            </div>
          </div>
          </ion-card>
          <span class="notify-badge">{{item.category}}</span>
        </ion-col>
        <ion-col>
          <div>
             
           <h5 style="font-family: fat;">{{item.title}}</h5>   
   
          </div>
        
          </ion-col>
      </ion-row>
    </div>
    </ion-item>
  
  </ion-list>
  </div>
</ion-content>



