.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }


  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00000070;
    padding: 70px;
    font-size: 20px;
    color: white;
    font-family: fat;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
    padding-left: 0px;
    // padding-right: 15px;
    /* padding-left: 15px;*/
  }